.blogContent {
    width: 1000px;
    max-width: 100%;
    min-height: calc(100vh - 120px);
    position: relative;
    margin: 20px auto;
}

.blogContent img {
    max-width: 100%;
}

.blogContent a + a {
    margin: 0;
}

.boxContent {
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
}

.chapNumber {
    font-size: 2rem;
    margin-top: 12px;
    margin-bottom: 5px;
}
.content {
    line-height: 3.2rem;
    font-family: 'Roboto';
    font-size: 1.7rem;
    white-space: pre-line;
}

.content p {
    font-family: 'Roboto';
    font-size: 1.7rem;
}

.buttonChap {
    min-width: 40px;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 8px;
    background-color: var(--theme-color);
    height: 38px;
    display: flex;
    align-items: center;
    
}
.paginateChap {
    text-align: center;
}

.paginateChap > a {
    display: inline-block;
}


.functionBar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnDisabled {
    pointer-events: none;
    opacity: 0.5;
}

.thumbnail {
    width: 100%;
    max-height: 300px;
    border-radius: 10px;
    object-fit: cover;
}
