.createContainer {
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    max-width: 1120px;
    border-radius: 10px;
}

.createBlogFooter {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 8px;
}


.btnReviewBlog span svg {
    transition: 0.5s;
}

button.btnReviewBlog:hover {
    background-color: var(--theme-color);
}