.txtPageTitle {
  margin-bottom: 18px;
}

button.btnAddNewEvent {
  border-radius: 20px;
  padding: 10px 18px;
  background-color: var(--theme-color);
  color: white;

  svg {
    margin-right: 6px;
  }
}

button.btnAddNewEvent:hover {
  background-color: var(--theme-color);
  color: white;
}

@keyframes append-animate {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}

.fetchLoading {
  animation: append-animate .2s linear;
}
