.containerMain {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
}

.mainSide {
    text-align: center;
    padding-top: 110px;
    min-height: 100vh;
    min-width: 350px;
    width: 50%;
    flex-grow: 1;
}

.sideIntro {
    background-color: #ffe8e2;
}

.sideFeature {
    background-color: #ffff;
}
