:root {
  --theme-color: #ff6541;
  --text-color: #333;
  --error-color: #FF3333;
  --background-color: #f1f1f1;
}

* {
  box-sizing: inherit;
}
html {
  color: var(--text-color);
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Lato', 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
  margin: 0 auto;
  background: var(--background-color);
  font-size: 1.5rem;
}

.grid {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

a {
  color: var(--theme-color)
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

.nav-avt {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 16px
}

.dropdown-item {
  font-size: 1.5rem;
}

.arrowDownIcon {
    position: fixed;
    z-index: 99999;
    bottom: 10px;
    right: -60px;
    width: 160px;
    transition: 0.75s;
}

.arrowDownIconHide {
    bottom: -200px;
}

.cmt-tag {
  background-color: #0866FF33;
  font-weight: 500;
}

@media only screen and (min-width: 700px) {
    .arrowDownIcon {
        display: none;
    }
}

@media only screen and (min-width: 760px) {
  .footer {
    z-index: 99;
  }
}
