.selectChap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  padding-left: 0px;
}

.selectChap>a {
  display: inline-block;
  margin: 2px;
}

.chapNumber {
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  min-width: 50px;
  background-color: var(--theme-color);
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  margin-top: 15px;
}

.pageType {
  color: rgb(146, 146, 146);
  margin-bottom: -10px;
}

.listOfChaps {
  font-size: 1.8rem;
  font-weight: bold;
}