.boxContent {
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
}

.chapNumber{
    font-size: 1.6rem;
    margin-top: 25px;
    margin-bottom: 10px;
}
.content {
    line-height: 2.9rem;
    font-family: 'Roboto';
    font-size: 1.7rem;
    text-align: justify;
    white-space: pre-line;
}

.buttonChap {
    min-width: 40px;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 8px;
    background-color: var(--theme-color);
    height: 38px;
    display: flex;
    align-items: center;
    
}
.paginateChap {
    text-align: center;
}

.paginateChap > a {
    display: inline-block;
}


.functionBar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.functionBar > a + a {
  margin-left: 20px;
}

.btnDisabled {
    pointer-events: none;
    opacity: 0.5;
}
